
<div class="row">
  <div class="col-xs-12 col-md-3 text-center"></div>
  <div class="col-xs-12 col-md-6 text-center">
	  <h1>Sea-Anna Thompson</h1>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center">
        <%= image_tag "sea.jpg", class: 'img-responsive img-circle' %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3 text-center"></div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3 text-center">
	  <h2>Who I Am</h2>
    <p>
      Knausgaard before they sold out kitsch, meditation polaroid sriracha crucifix disrupt butcher. Thundercats pork belly next level cardigan gochujang ethical. Bespoke flannel listicle plaid you probably haven't heard of them crucifix. Four loko disrupt cred celiac plaid, tumblr yuccie. 
	  <br><br>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-2 text-center">
        <%= link_to "https://twitter.com/thecoachfit" do %>
          <%= image_tag "twitter.png", class: 'img-responsive' %>
        <% end %>
      </div>  
      <div class="col-xs-2 col-xs-offset-1 text-center"> 
        <%= link_to "https://www.instagram.com/sea_anna_marie" do %>
          <%= image_tag "instagram.png", class: 'img-responsive' %>
        <% end %>
      </div>  
      <div class="col-xs-2 col-xs-offset-1 text-center">
        <%= link_to "https://www.linkedin.com/in/sea-anna-thompson-11ab84122" do %>
          <%= image_tag "LinkedIn.png", class: 'img-responsive' %>
        <% end %>
      </div>
    </div>
    

  </div>
</div>
