
<div class="row fixed-bg">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-md-2 text-center"></div>
      <div class="col-xs-12 col-md-8 text-center">
        <div class="space-10"></div>
        <h1 class="pretty huge_name bold name">Sea-Anna Thompson</h1>
        <div class="space-16"></div>
        <div class="row">
          <!-- divind out each column how it is needed on different screen sizess. the offset allows a given column to the left and by default given the same amount of offset on the right. This row helps adjust the image -->
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
            <!-- Rubycode image is a build in method, class is described on the image to be responsive and turns the image into the html tags. sea_pic is a class in css to give the image rounded edges -->
            <%= image_tag "profesh.jpg", class: 'img-responsive white_border' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-2 text-center"></div>
    </div>

    <div class="row open_sans">
      <!-- allow for more space than the adjustment above for the image -->
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
        <!-- definig the font, padding, margins, and text size for heading -->
        <div class="bigger">
          <h2 class="hanging text-center padding_top no_margin_top huge name">Who I Am</h2>
        </div>
        <div class="row">
          <!-- want all columns to be lined up top to bottom when the screen is xs -->
          <div class="col-xs-12">
            <div class="space-14"></div>
          </div>
        </div>
        <div class="bigger border white_border background_color name text_padding open_sans">
          My name is Sea-Anna Thompson and I have background in kinesiology and communications. After running my own business online for a year, I wanted to learn more about design and building a website. I have been part of the tech community for almost 2 years, I enjoy volunteering at events when I can, and I am excited to start my new career path as a Rails developer. I am currently an intern at Notch8 where I am a full-stack web developer.
          <div class="normal open_sans bold name_color">
            <div class="space-18"></div>
            <p class="text-center">"It's not the smartest or the strongest that survive. It's those who adapt the quickest." - Charles Darwin</p>
            <div class="space-8"></div>
            <p class="text-center">"If I can take it, I can make it." - Louis "Louie" Zamperini</p>
          </div>
        </div>
        <div class="row">
          <!-- want all columns to be lined up top to bottom when the screen is xs -->
          <div class="col-xs-12">
            <div class="space-30"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--section for skills -->
<div class="row open_sans black_border_top">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="bigger">
      <h2 class="hanging text-center padding_top no_margin_top huge">Skills</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-30"></div>
      </div>
    </div>
    <div class="row really_big paint text_purple text-center">
      <div class="col-xs-12 col-sm-6">
        <ul>
          <li>RUBY</li>
          <li>RAILS</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JAVASCRIPT</li>
          <li>JQUERY</li>
          <li>BOOTSTRAP</li>
          <li>AGILE</li>
          <li>HAML</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <ul>
          <li>GIT</li>
          <li>GITHUB</li>
          <li>TRELLO</li>
          <li>POSTGRES</li>
          <li>MYSQL</li>
          <li>HEROKU</li>
          <li>TDD</li>
          <li>BDD</li>
          <li>CAPYBARA</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="space-30"></div>
    <div class="space-30"></div>
    <div class="space-30"></div>
  </div>
</div>

<!-- section for volunteering -->
<div class="row alpha black_border_top background_color">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="bigger">
      <h2 class="hanging text-center padding_top no_margin_top huge">Volunteering</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-30"></div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <%= link_to "http://railsbridge.org/" do %>
      <h2>Rails Bridge San Diego</h2>
      <% end %>
      <h3>Intermediate Instructional Assistant</h3>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= image_tag "railsbridgeamy.jpg", class: 'img-responsive project_images center-block' %>
          <div class="row">
            <div class="col-xs-12">
              <div class="space-14"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-12">
          <%= image_tag "railsbridgegroup.jpg", class: 'img-responsive project_images' %>
          <div class="row">
            <div class="col-xs-12">
              <div class="space-14"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <%= link_to "https://csusmhackathonfa15.devpost.com/" do %>
      <h2>Women's Hackathon</h2>
      <% end %>
      <h3>Mentor</h3>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= image_tag "women_hack_logo.png", class: 'img-responsive project_images center-block' %>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="space-14"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= image_tag "women_hackers.jpg", class: 'img-responsive project_images center-block' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="space-30"></div>
          <div class="space-30"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--space for interests-->
<div class="row carton fixed-bg_interest  white_border_top name">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="bigger">
      <h2 class="hanging text-center padding_top no_margin_top huge">Interests</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-30"></div>
      </div>
    </div>
    <div class="row really_big text-center">
      <div class="col-xs-12 col-sm-6 name">
        <ul>
          <li>Running <i class="fa fa-heartbeat margin_left" aria-hidden="true"></i></li>
          <li>Fitness/Crossfit <i class="fa fa-child margin_left" aria-hidden="true"></i></li>
          <li>Coding <i class="fa fa-laptop margin_left" aria-hidden="true"></i></li>
          <li>Reading <i class="fa fa-book margin_left" aria-hidden="true"></i></li>
          <li>Movies <i class="fa fa-film margin_left" aria-hidden="true"></i></li>
          <li>Cooking <i class="fa fa-cutlery margin_left" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <ul>
          <li>Outdoors <i class="fa fa-tree margin_left" aria-hidden="true"></i></li>
          <li>Snowboarding <i class="fa fa-bomb margin_left" aria-hidden="true"></i></li>
          <li>San Diego <i class="fa fa-smile-o margin_left" aria-hidden="true"></i></li>
          <li>Beach <i class="fa fa-sun-o margin_left" aria-hidden="true"></i></li>
          <li>Skateboarding <i class="fa fa-thumbs-o-up margin_left" aria-hidden="true"></i></li>
          <li>Craft Beer <i class="fa fa-beer margin_left" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="space-30"></div>
    <div class="space-30"></div>
    <div class="space-30"></div>
  </div>
</div>


<!-- section for projects -->

<div class="row alpha black_border_top background_color">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="bigger">
      <h2 class="hanging text-center padding_top no_margin_top huge">Projects</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-30"></div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <%= link_to "https://car-simulator.herokuapp.com/" do %>
      <h2>Car Simulator</h2>
      <% end %>
      <%= link_to "https://github.com/Seaanna/car_simulator-", class: 'transparent_background' do %>
      <i class="fa fa-github fa-2x transparent_background" aria-hidden="true"></i>
      <% end %>
      <h3>Create a car then see what arguments it takes.</h3>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= image_tag "car_sim.png", class: 'img-responsive project_images center-block' %>
          <div class="row">
            <div class="col-xs-12">
              <div class="space-14"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-12">
          <%= link_to "https://seas-address-book.herokuapp.com/" do %>
          <h2>Address Book</h2>
          <% end %>
          <%= link_to "https://github.com/Seaanna/address_book", class: 'transparent_background' do %>
          <i class="fa fa-github fa-2x transparent_background" aria-hidden="true"></i>
          <% end %>
          <h3>Create, Edit, Destroy people from this address book</h3>
          <%= image_tag "address.png", class: 'img-responsive project_images center-block' %>
          <div class="row">
            <div class="col-xs-12">
              <div class="space-14"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <%= link_to "https://sea-battleship.herokuapp.com/" do %>
      <h2>Battle Ship</h2>
      <% end %>
      <%= link_to "https://github.com/Seaanna/RailsBattleship", class: 'transparent_background' do %>
      <i class="fa fa-github fa-2x transparent_background" aria-hidden="true"></i>
      <% end %>
      <h3>Based off the board game. Play against the computer</h3>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= image_tag "battleship.png", class: 'img-responsive project_images center-block' %>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="space-14"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= link_to "https://sea-liftingapp.herokuapp.com/" do %>
          <h2>One Rep Max Estimator</h2>
          <% end %>
          <%= link_to "https://github.com/Seaanna/LiftingProgress", class: 'transparent_background' do %>
          <i class="fa fa-github fa-2x transparent_background" aria-hidden="true"></i>
          <% end %>
          <h3>Keep track of your lifts and ORM esitmated progress</h3>
          <%= image_tag "liftingApp.png", class: 'img-responsive project_images center-block' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="space-30"></div>
          <div class="space-30"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end of project section -->

<!-- Hire me section -->
<div class="row open_sans white_border_top fixed-bg_hire">
  <div class="col-xs-12">
    <div class="bigger">
      <h2 class="hanging text-center padding_top no_margin_top huge name">Why Hire Me</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-20"></div>
      </div>
    </div>
    <div class="row bigger name alpha text-center">
      <div class="col-xs-12 biggest">
        <ul>
          <li>Reliable</li>
          <li>Organized</li>
          <li>Quick Learner</li>
          <li>Hard Worker</li>
          <li>Work well in Teams</li>
          <li>Motivated</li>
          <li>#WomenInTech</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="space-30"></div>
  </div>
</div>
<!-- end of Hire Me -->

<!-- Start of Footer :Follow me with links to important pages -->
<div class="row white_border_top">
  <div class="space-12"></div>
  <div class="pretty big text-center">Follow Me:</div>
  <div class="space-12"></div>
  <div class="col-xs-4 col-sm-2 col-sm-offset-2 text-center">
    <%= link_to "https://twitter.com/thecoachfit" do %>
    <%= image_tag "twitter.png", class: 'max_50' %>
    <% end %>
  </div>
  <div class="col-xs-4 col-sm-2 col-sm-offset-1 text-center">
    <%= link_to "https://github.com/Seaanna" do %>
    <%= image_tag "octocat.png", class: 'max_75' %>
    <% end %>
  </div>
  <div class="col-xs-4 col-sm-2 col-sm-offset-1 text-center">
    <%= link_to "https://www.linkedin.com/in/sea-anna-thompson-11ab84122" do %>
    <%= image_tag "LinkedIn.png", class: 'max_50' %>
    <% end %>
  </div>
  <div class="col-xs-12">
    <div class="space-14"></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <span class="pretty biggest">Sea-Anna Thompson</span>
    <span class="pretty biggest"><%= Date.current.year %></span>
  </div>
  <div class="col-xs-12">
    <div class="space-8"></div>
  </div>
</div>
<!-- end of footer -->
