
<div class="row">
  <div class="col-xs-12 col-md-3 text-center"></div>
  <div class="col-xs-12 col-md-6 text-center">
    <div class="space-10"></div>
	  <h1 class="pretty huge">Sea-Anna Thompson</h1>
    <div class="space-16"></div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
        <%= image_tag "sea.jpg", class: 'img-responsive sea_pic' %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3 text-center"></div>
</div>


<div class="row open_sans">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
    <h2 class="hanging padding_top no_margin_top huge">Who I Am</h2>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-14"></div>
      </div>
    </div>
    <p class="bigger">
      Knausgaard before they sold out kitsch, meditation polaroid sriracha crucifix disrupt butcher. Thundercats pork belly next level cardigan gochujang ethical. Bespoke flannel listicle plaid you probably haven't heard of them crucifix. Four loko disrupt cred celiac plaid, tumblr yuccie.
      <br><br>
  </div>
  <div class="col-xs-12">
    <div class="space-30"></div>
    <div class="space-30"></div>
  </div>
</div>

<div class="row open_sans purple_background black_border_top">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
    <h2 class="hanging padding_top huge no_margin_top">Skillset</h2>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-20"></div>
      </div>
    </div>
    <p class="bigger">
      Knausgaard before they sold out kitsch, meditation polaroid sriracha crucifix disrupt butcher. Thundercats pork belly next level cardigan gochujang ethical. Bespoke flannel listicle plaid you probably haven't heard of them crucifix. Four loko disrupt cred celiac plaid, tumblr yuccie.
      <br><br>
  </div>
  <div class="col-xs-12">
    <div class="space-30"></div>
    <div class="space-30"></div>
    <div class="space-30"></div>
  </div>
</div>

<div class="row open_sans yellow_background black_border_top">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
    <h2 class="hanging padding_top no_margin_top huge">Interests</h2>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-20"></div>
      </div>
    </div>
    <p class="bigger">
      Knausgaard before they sold out kitsch, meditation polaroid sriracha crucifix disrupt butcher. Thundercats pork belly next level cardigan gochujang ethical. Bespoke flannel listicle plaid you probably haven't heard of them crucifix. Four loko disrupt cred celiac plaid, tumblr yuccie.
      <br><br>
  </div>
  <div class="col-xs-12">
    <div class="space-30"></div>
    <div class="space-30"></div>
    <div class="space-30"></div>
  </div>
</div>

<div class="row open_sans blue_background black_border_top">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
    <h2 class="hanging padding_top no_margin_top huge">Hire Me</h2>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-20"></div>
      </div>
    </div>
    <p class="bigger">
      Knausgaard before they sold out kitsch, meditation polaroid sriracha crucifix disrupt butcher. Thundercats pork belly next level cardigan gochujang ethical. Bespoke flannel listicle plaid you probably haven't heard of them crucifix. Four loko disrupt cred celiac plaid, tumblr yuccie.
      <br><br>
  </div>
  <div class="col-xs-12">
    <div class="space-30"></div>
    <div class="space-30"></div>
    <div class="space-30"></div>
  </div>
</div>

<div class="space-12"></div>
<div class="row">
  <div class="col-xs-4 col-sm-2 col-sm-offset-2 text-center">
    <%= link_to "https://twitter.com/thecoachfit" do %>
      <%= image_tag "twitter.png", class: 'max_50' %>
    <% end %>
  </div>
  <div class="col-xs-4 col-sm-2 col-sm-offset-1 text-center">
    <%= link_to "https://www.instagram.com/sea_anna_marie" do %>
      <%= image_tag "instagram.png", class: 'max_50' %>
    <% end %>
  </div>
  <div class="col-xs-4 col-sm-2 col-sm-offset-1 text-center">
    <%= link_to "https://www.linkedin.com/in/sea-anna-thompson-11ab84122" do %>
      <%= image_tag "LinkedIn.png", class: 'max_50' %>
    <% end %>
  </div>

  <div class="col-xs-12">
    <div class="space-14"></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <span class="pretty biggest">Sea-Anna Thompson</span>
    <span class="pretty biggest"><%= Date.current.year %></span>
  </div>
  <div class="col-xs-12">
    <div class="space-8"></div>
  </div>
</div>


