
<div class="row fixed-bg">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-md-2 text-center"></div>
      <div class="col-xs-12 col-md-8 text-center">
        <div class="space-10"></div>
        <h1 class="pretty huge_name bold name">Merry Christmas </h1>
        <div class="space-16"></div>
        <div class="row">
          <!-- divind out each column how it is needed on different screen sizess. the offset allows a given column to the left and by default given the same amount of offset on the right. This row helps adjust the image -->
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
            <!-- Rubycode image is a build in method, class is described on the image to be responsive and turns the image into the html tags. sea_pic is a class in css to give the image rounded edges -->
            <%= image_tag "profesh.jpg", class: 'img-responsive silver_border' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-2 text-center"></div>
    </div>

    <div class="row open_sans">
      <!-- allow for more space than the adjustment above for the image -->
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
        <!-- definig the font, padding, margins, and text size for heading -->
        <div class="bigger">
          <h2 class="royal text-center padding_top no_margin_top huge name bold">2016</h2>
        </div>
        <div class="row">
          <!-- want all columns to be lined up top to bottom when the screen is xs -->
          <div class="col-xs-12">
            <div class="space-14"></div>
          </div>
        </div>
        <div class="row">
          <!-- want all columns to be lined up top to bottom when the screen is xs -->
          <div class="col-xs-12">
            <div class="space-30"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--section for skills -->
<div class="row open_sans black_border_top">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="space-10"></div>
    <div class="bigger">
      <h2 class="pretty text-center padding_top no_margin_top really_big bold text_red">Things we love you for</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-20"></div>
      </div>
    </div>
    <div class="row huge gift text_red text-center">
      <div class="col-xs-12 col-sm-12">
        <ul>
          <li>You love your family unconditionally</li>
          <li>Your cooking is AMAZING <i class="fa fa-cutlery margin_left" aria-hidden="true"></i></li>
          <li>You make life better</li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="space-30"></div>
    <div class="space-30"></div>

  </div>
</div>

<!-- section for volunteering -->
<div class="row alpha black_border_top fixed-bg_love">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="space-10"></div>
    <div class="bigger">
      <h2 class="pretty bold text-center padding_top no_margin_top huge name">Moments from</h2><p class="royal text-center huge bold name">2016</p>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-20"></div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <h2>Rails Bridge San Diego</h2>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= image_tag "railsbridgeamy.jpg", class: 'img-responsive red_border center-block' %>
          <div class="row">
            <div class="col-xs-12">
              <div class="space-14"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-12">
          <%= image_tag "railsbridgegroup.jpg", class: 'img-responsive red_border center-block' %>
          <div class="row">
            <div class="col-xs-12">
              <div class="space-14"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <h2>Women's Hackathon</h2>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= image_tag "women_hack_logo.png", class: 'img-responsive red_border center-block' %>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="space-14"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= image_tag "women_hackers.jpg", class: 'img-responsive red_border center-block' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="space-30"></div>
          <div class="space-30"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--space for interests-->
<div class="row pretty white_border_top">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="bigger">
      <h2 class="pretty text-center padding_top no_margin_top huge">Interests</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-30"></div>
      </div>
    </div>
    <div class="row really_big text-center">
      <div class="col-xs-12 col-sm-6">
        <ul>
          <li>Running <i class="fa fa-heartbeat margin_left" aria-hidden="true"></i></li>
          <li>Fitness/Crossfit <i class="fa fa-child margin_left" aria-hidden="true"></i></li>
          <li>Coding <i class="fa fa-laptop margin_left" aria-hidden="true"></i></li>
          <li>Reading <i class="fa fa-book margin_left" aria-hidden="true"></i></li>
          <li>Movies <i class="fa fa-film margin_left" aria-hidden="true"></i></li>
          <li>Cooking <i class="fa fa-cutlery margin_left" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <ul>
          <li>Outdoors <i class="fa fa-tree margin_left" aria-hidden="true"></i></li>
          <li>Snowboarding <i class="fa fa-bomb margin_left" aria-hidden="true"></i></li>
          <li>San Diego <i class="fa fa-smile-o margin_left" aria-hidden="true"></i></li>
          <li>Beach <i class="fa fa-sun-o margin_left" aria-hidden="true"></i></li>
          <li>Skateboarding <i class="fa fa-thumbs-o-up margin_left" aria-hidden="true"></i></li>
          <li>Craft Beer <i class="fa fa-beer margin_left" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="space-30"></div>
    <div class="space-30"></div>
    <div class="space-30"></div>
  </div>
</div>


<!-- section for projects -->

<div class="row alpha black_border_top background_color">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="bigger">
      <h2 class="hanging text-center padding_top no_margin_top huge">Projects</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="space-30"></div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <h2>Car Simulator</h2>
      <h3>Create a car then see what arguments it takes.</h3>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= image_tag "car_sim.png", class: 'img-responsive silver_borders center-block' %>
          <div class="row">
            <div class="col-xs-12">
              <div class="space-14"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-12">
          <h2>Address Book</h2>
          <h3>Create, Edit, Destroy people from this address book</h3>
          <%= image_tag "address.png", class: 'img-responsive silver_borders center-block' %>
          <div class="row">
            <div class="col-xs-12">
              <div class="space-14"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <h2>Battle Ship</h2>
      <h3>Based off the board game. Play against the computer</h3>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= image_tag "battleship.png", class: 'img-responsive silver_borders center-block' %>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="space-14"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <h2>One Rep Max Estimator</h2>
          <h3>Keep track of your lifts and ORM esitmated progress</h3>
          <%= image_tag "liftingApp.png", class: 'img-responsive silver_borders center-block' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="space-30"></div>
          <div class="space-30"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end of project section -->

<!-- Start of Footer-->
<div class="row">
  <div class="col-xs-12 text-center">
    <div class="space-10"></div>
    <span class="pretty biggest bold">Sending our <i class="fa fa-heart-o" aria-hidden="true"></i> on <%= DateTime.current.ctime %></span>
    <br>
    <h2 class="pretty biggest">By:</h2>
    <span class="pretty biggest">Sea-Anna & Drew</span>

  </div>
  <div class="col-xs-12">
    <div class="space-8"></div>
  </div>
</div>
<!-- end of footer -->
